* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: black;}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 3px dashed orange;
}
.main-menu {
  display: flex;
  flex-direction: column;
}
.menu-item {
  width: 150px;
  line-height: 40px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  position: relative;
}
.menu-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.menu-item:hover {
  background-color: cornflowerblue;
}
.menu-item:hover > a {
  color: white;
}
.submenu {
  z-index: 99;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
}
.submenu .menu-item:hover {
  background-color: royalblue;
}
.submenu.active {
  max-height: 200px;
  opacity: 1;
}